* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #eceef1;
}

 a {
    font-size: 12px;
    color: #0077C5;
}

p{
    font-size: 12px;
    color: #505050;

}

section.menu-right-top {
    float: right;
    margin: 20px 30px 20px 0;
}

.pull-to-left {
    float: left;
    padding: 5px;
}

.pull-to-right {
    float: right;
    padding: 5px;
}

.give-me-space {
    clear: both;
}

button.btn {
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #0077C5;
    color: #fff;

}

section.logo-section {
    text-align: center;
    margin: 20px;
}

.main-logo img {
    width: 150px;
    height: auto;
}

.other-logos img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


main.collect-data {
    width: 30%;
    margin: auto;
    background: #fff;
    border: 1px solid #c7c7c7;
}

.information {
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.information h4{
    font-size: 24px;
    color: #4C4C4C;
}

form.my-data {
    margin: 10px;
    padding: 10px;
}

input {
    width: 93%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button.btn-create {
padding: 15px 15px;
width: 100%;
color: #fff;
background: #0077c5;
border: none;
border-radius: 3px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
}

.final-form-data p {
    margin: 30px 10px;
    padding: 10px;
    text-align: center;
}

footer.footer-google {
    text-align: center;
    padding: 10px;
    background: #ECEEF1;
}

.invisible {
    margin: 10px;
    font-size: 10px;
    color: #8d9096;
}
.invisible a{
    font-size: 10px;
}

.bottom-section {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

ul {
    list-style: none;
    margin: 6px;
}

ul li {
    display: inline;
}

ul li a {
    color: #000;
    margin-right: 5px;
}

a {
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline;
}

.information h4 {
    font-size: 24px;
    font-weight: normal;
    margin: 5px 0 20px 0;
}

.information p {
    font-size: 13px;
}

.input-field p {
    font-size: 14px;
    margin: 0 0 10px 0;
}

.messaging {
    font-size: 10px;
    margin-top: -27px;
    margin-bottom: 30px;
    color: #444;
}

.input-field {
    margin-bottom: 30px;
}

p.privacy-statement {
    font-size: 12px;
    font-weight: 400;
    color: #505050;
    font-style: italic;
}

.bottom-section p {
    font-size: 13px;
}

.other-logos {
    display: inline;
}

.other-logos div {
    display: inline-flex;
}

p.logo-name {
    text-align: center;
    margin: 8px 8px 0 5px;
    font-size: 17px;
}